/* stylin' */

/* google fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif; */


/* -------------- CLASS CSS DATA -------------- */

* {
    background-color: white;
}

.container-fluid {
    background-color: rgb(241, 241, 241);
    width:100%;
}

.whitespace {
    background-color:rgb(241, 241, 241);
}

.navbar-default .navbar-brand {
    color:  black;
    font-size: 24px;
    /* font-weight: bold; */
    font-family: 'Playfair Display', serif;
}

.navbar-default .navbar-brand:hover {
    color:  #f70bf7;;
    font-size: 24px;
    /* font-weight: bold; */
    font-family: 'Playfair Display', serif;
}

.navbar-header .navbar-toggle .collapsed{
  float: right;
  /* font-family: 'Roboto', serif; */
  font-size: 16px;
}

.container {
    display: block;
    background-color: white;
}

.dropdown {
    color: darkslategray;
    font-family: Calibri;
    font-size: 16px;
}

.menu {
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: black;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color:  #f70bf7;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

/* p {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
} */

.card {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

.whitespace {
    padding: 20px;
    margin: 50px;
    background-color: rgba(0,0,0,0)
}


.footer {
    color: #f70bf7;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 40%;
    left:40%;
    font-style: italic;
    }

/* .table-head {
  color: #fff;
  background:rgb(248, 166, 14);
  font-weight: bold;
  font-family: Calibri;
  font-size: 18px;
  height: 110%;
  padding: 25px
}

.table {
  color: darkslategray;
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 25px;
} */




/* -------------- ID CSS DATA -------------- */
#summary {
    background-color:white;
    margin: 10px;
    font-size: 16px;
    font-family: Calibri;
    line-height: 1.9em;
    padding: 10px;
  }

#sidenav {
    padding: 10px;
    margin: 10px;
    background-color:white;
    margin-bottom: 20px;
}

#img-border {
    outline-style: solid;
    outline-color: #f70bf7;
    outline-width: 3px;
    outline-offset: -2px;
    /* margin: 2px; */
}


/* responsive to web size changes or mobile */

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
}

