h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Public Sans', sans-serif;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.whitespace {
  margin-top:20px;
  margin-bottom:20px;
}


/* general */
h1,
.h1 {
  font-size: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
}

h2,
.h2 {
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.content-column.white-background {
    background: #fff;
    min-height: 100vh;
}

.content-column-content h1,
.content-column-content h2,
.content-column-content h3,
.content-column-content h4,
.content-column-content h5,
.content-column-content h6,
.content-column-content p,
.content-column-content form,
.content-column-content ul,
.content-column-content ol {
  margin-bottom: 2rem;
}

.lead {
    font-size: 1.4rem;
    font-weight: 300;
}
  
.margin-top {
    margin-top: 1.875rem;
}
  
.margin-top--big {
    margin-top: 3.75rem !important;
}

.margin-bottom {
    margin-bottom: 1.875rem;
}

.margin-bottom--big {
    margin-bottom: 3.75rem !important;
}